@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --prussian-blue: #002642ff;
  --claret: #840032ff;
  --gamboge: #e59500ff;
  --timberwolf: #e5dadaff;
  --rich-black: #02040fff;
  --prussian-blue-alpha: rgba(0, 38, 66, 0.9);
  --claret-alpha: rgba(132, 0, 50, 0.6);
  --gamboge-alpha: rgba(229, 149, 0, 0.6);
  --timberwolf-alpha: rgba(229, 218, 218, 0.6);
  --rich-black-alpha: rgba(2, 4, 15, 0.6);
  --font: 'Mulish', sans-serif;
}

html,
body {

  background-image: url('/assets/img/background.png');
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--font);
}

.header {
  height: 2vh;
  padding: 20px;
  font-size: 30px;
  color: var(--gamboge);
  text-shadow: 2px 2px var(--rich-black-alpha);
  margin-bottom: 30px;
  text-align: left;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--prussian-blue-alpha);
  height: 100vh;
  padding: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  width: 90%;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-bottom: var(--rich-black) 1px solid;
}

.content-title,
.content-extra {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background-color: var(--rich-black);
  color: var(--gamboge);
  padding: 10px;
  width: 250px;
  border-top-right-radius: 15px;
}

.content-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 25px;
  background-color: var(--gamboge);
  color: var(--prussian-blue);
  border-bottom-right-radius: 15px;
  font-size: 18px;
}

.title-text {
  font-size: 18px;
  color: var(--timberwolf);
}

.icon-in-title {
  margin-right: 10px;
  font-size: 26px;
}

#money-to-pay {
  margin-left: 10px;
}

/*elementos area busca*/
form {
  display: flex;
  align-items: flex-end;
}

.input {
  display: flex;
  flex-direction: column;
}


label {
  font-size: 14px;
  color: var(--rich-black);
  margin-bottom: 5px;
}

input {
  background-color: var(--claret);
  border-color: var(--claret-alpha);
  padding: 10px;
  color: var(--timberwolf);
  border-radius: 10px;
}

#product-code {
  width: 100px;
  margin-right: 15px;
  font-size: 18px;
}

#product-name {
  width: 400px;
  margin-right: 15px;
  font-size: 18px;
}

#search-button {
  background-color: var(--claret);
  padding: 10px;
  font-size: 18px;
  color: var(--timberwolf);
  border-color: var(--claret-alpha);
  border-radius: 10px;
}

input::placeholder {
  color: var(--timberwolf-alpha);
}

/*elementos area resultado da busca*/


.search-result {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.search-result-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}


.product-details,
.product-price,
.product-buy {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.product-details {
  justify-content: flex-start;
  width: 70%;
}

.product-code,
.search-result-icon {
  margin-right: 10px;
}

.product-price {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 20%;
}

.value-sign {
  flex-shrink: 0;
  margin-right: 5px;
  width: 50%;
  text-align: right;
}

.price {
  text-align: right;
  font-weight: 700;
  width: 50%;
}

.procuct-name {
  font-weight: 700;
}

.product-buy {
  justify-content: flex-end;
}

.icon-error {
  margin-right: 10px;
  font-size: 26px;
  color: var(--claret);
}

/*botão de compra*/
.btn-buy {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-decoration: none;
  color: var(--prussian-blue);
  border: 2px solid var(--prussian-blue);
  background-color: var(--timberwolf-alpha);
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.btn-buy:hover,
.btn-buy:focus {
  color: var(--timberwolf-alpha);
  background-color: green;
  border-color: var(--timberwolf-alpha);
}